<div class="row pt-5">
  <div class="col justify-content-center">
    <h2 class="login pb-2">Sign Up</h2>
    <form class="form login-form">
      <div class="form-group pb-2">
        <input class="form-input" type="text" placeholder="Username" id="username-login" />
      </div>
      <div class="form-group pb-1">
        <input class="form-input" type="password" placeholder="Password" id="password-login" />
      </div>
      <div class="form-group pt-2">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
      <div>
        <a href="/login">Login Instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>